<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" type="text/css"/>
        <title>ProjectDA</title>
        <link rel="icon" href=".\static\ProjectDAlogoInverted.png" type="image/x-icon"/>
        <style type="text/css">
            body {
              background-color: #f7e2f0;
              /* could add font here too */
            }
            .ui.menu {
                border-radius: 0px !important;
            }

            .signup {
                color: #e799aa;
            }
            
            .signup:hover {
                color: #ecc7cf;
            }
          </style>
    </head>
    
    <body>
        <div class="container" style="display:flex; flex-direction: column;overflow: auto; justify-content: center;align-items: center; border-radius: 20px;">
            <h1 class="ui massive centered header" style="padding-top:10%; color:#e96989;">
                JML Event Handler
            <!-- </h1> -->
            <div class="ui segment" style="min-width:400px;max-width:500px; overflow: visible; padding:20px; margin-top: 20px;">
                <div class="ui centered header" style="padding-top:10px; color:#8a5761;">
                    Login
                </div> 
                    <form class="ui form" id="login_form">
                        <div class="field">
                            <div class="header" style="text-align: left;">Username</div>
                            <input placeholder="Username" id="username" type="text">
                        </div>
                        <div class="field">
                            <div class="header" style="text-align: left;">Password</div>
                            <input placeholder="********" type="password" id="password">
                        </div>
                        <button class="ui primary button" style="background-color:#e96989; margin-top: 10px;">Submit</button>
                        <div class="ui error message"></div>
                        <div>
                            <a class="signup" href="/signup" id="signup_button">Don't have an account? Sign up</a>
                        </div>
                        <div class="ui error message">
                            <div class="header">Incorrect Login</div>
                            <p>Username or password incorrect, please double check.</p>
                        </div>
                    </form>
            </div>
        </div>
    </body>
    <script>
        $(document).ready(function() {
            const loginform = document.querySelector('#login_form');
            loginform.addEventListener("submit", function(e) {
                e.preventDefault();
                validInputs();
            });
            function validInputs() {
                var user_input = $('#username').val();
                var pass_input = $('#password').val();
                var body = {
                    username: user_input,
                    password: pass_input,
                };
                $.ajax({
                    url:'/login',
                    type:'POST',
                    contentType: 'application/x-www-form-urlencoded',
                    data: body,
                    dataType:'json',
                    success: function(return_val) {
                        window.location="/home";
                    },
                    error: function() {
                    document.getElementById("login_form").className = "ui form error";
                    }
                })
            }
            $('.selection.dropdown').dropdown();
        });

        $('.ui.form')
            .form({
                fields: {
                username: {
                    identifier: 'username',
                    rules: [
                    {
                        type   : 'empty',
                        prompt : 'Please enter a username'
                    }
                    ]
                },
                password: {
                    identifier: 'password',
                    errorLimit: 1,
                    rules: [
                    {
                        type   : 'empty',
                        prompt : 'Please enter a password'
                    },
                    {
                        type   : 'minLength[8]',
                        prompt : 'Your password must be at least {ruleValue} characters'
                    }
                    ]
                },
                }
            })
            ;
    </script>
</html>



