<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
        <title>ProjectDA</title>
        <link rel="icon" href=".\static\ProjectDAlogoInverted.png" type="image/x-icon"/>
        <style>
            html,body {
                margin: 0;
                background-color: #e8ecf4;
                font-family: sans-serif;
              /* could add font here too */
            }
            .meta{
                font-family: sans-serif;
            }
            .ui.menu {
                border-radius: 0px;
                font-family: sans-serif;
            }
            .ui.segment{
                margin:0;
            }
            .ui.header {
                color:#572e37;
            }
          </style>
    </head>
    <body>
        <div class="container" style="padding: 0; min-height:100vh;display: flex;flex-direction: row;overflow: auto;">
            <div class="ui segment" style="padding:0px;border-bottom:None;border-left: None;border-top: None;">
                <div class="ui left fluid inverted pointing large vertical menu" style="background: linear-gradient(45deg,#e96989,#572e37);height:100%;width:270px;overflow-x:hidden;overflow-y: visible;">
                    <div class="item">
                        <h2 class="ui header">
                            <img class="ui image" src=".\static\ProjectDAlogoinverted.png">
                            <div class="content" style="color:#ffffff">
                                ProjectDA
                            </div>
                        </h2>
                    </div>
                    <div class="item">
                        <div class="ui fluid horizontal card" style=" background-color: #403c3c; min-width: 200px;">
                            <div class="image" style="background-color: #403c3c; width:70px; height:75px;margin-left:10px">
                            <img src=".\static\female_avatar.png">
                            </div>
                            <div class="ui right aligned content">
                                <h5 class="ui header" style="color:#ffffff;">
                                    Jana Neria
                                    <div class= "sub header" style="color:#e6e2e2;">
                                        <p>Paralegal</p>
                                    </div>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <a class="borderless item">
                        <i class="user alternate icon"></i>
                        My Profile
                    </a>
                    <a class="borderless item">
                        <i class="history icon"></i>
                        History
                    </a>
                    <div class="ui divider" style="border:0.5px solid #ffffff"></div>
                    <div class="meta" style="padding-left:10px;color:#e6e2e2;">
                        MENU
                    </div>
                    <a class="borderless active item" id="home">
                        <i class="home icon"></i>
                        Home
                    </a>
                    <a class="borderless item" id="calendars">
                        <i class="calendar alternate icon"></i>
                        Calendars
                    </a>
                    <a class="borderless item" id="calculator">
                        <i class="calculator icon"></i>
                        Calculator
                    </a>
        
                    <div class="meta" style="padding-top:50px;padding-left:10px;color:#e6e2e2;">
                        ASSISTANCE
                    </div>
                    <a class="borderless item" id="settings">
                        <i class="settings icon"></i>
                        Settings
                    </a>
                    <a class="borderless item" id="support">
                        <i class="question circle icon"></i>
                        Support & Help
                    </a>
                    <div style="padding-top:260px">
    
                    </div>
                    <a class="borderless item" id="sign_out">
                        <i class="sign out alternate icon"></i>
                        Sign Out
                    </a>
                </div>
            </div>
            <div style="width:100%">
                <!-- <div class="ui top footer">
                    <h1 style="padding-top:10px; padding-left:10px;">
                        JML Event Handler
                    </h1>
                    <div class="ui divider" style="border:0.5px solid #8a8888">
    
                    </div>
                </div> -->
                <div style="padding:10px">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
    <script>
        if ('{{page_location}}'=="home") {
            $('#home').addClass('active').siblings().removeClass('active');
        } else if('{{page_location}}'=="calendars"){
            $('#calendars').addClass('active').siblings().removeClass('active');
        } else if('{{page_location}}'=="calculator"){
            $('#calculator').addClass('active').siblings().removeClass('active');
        } else if('{{page_location}}'=="settings"){
            $('#settings').addClass('active').siblings().removeClass('active');
        } else if('{{page_location}}'=="support"){
            $('#support').addClass('active').siblings().removeClass('active');
        }

        $('.borderless.item').on('click', function() {
            button_id = $(this).attr("id")
            window.location.href="/" + button_id
        })
    </script>
</html>