<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
        <style>
            html,body {
                background-color: #f7e2f0;
                margin: 0;
              /* could add font here too */
            }
            input:focus, .menu, *:focus {
                border-color: #8a5761 !important;
                outline:none !important;
            }

          </style>
    </head>
    <body>
        <div class="container" style="display:flex; flex-direction: column;overflow: auto; justify-content: center;align-items: center; border-radius: 20px;">
            <h1 class="ui massive centered header" style="padding-top:10%; color:#e96989;">
                JML Event Handler
            <!-- </h1> -->
            <div class="ui segment" style="min-width:500px;max-width:650px; overflow: visible; padding:20px; margin-top: 20px;">
                <div class="ui centered header" style="padding-top:10px; color:#8a5761;">
                    Sign Up
                </div> 
                <form class="ui form" id="signup_form">
                    <div class="two fields"> 
                        <div class="field">
                            <div class="header" style="text-align: left;">First Name</div>
                            <input placeholder="John" id="firstName" type="text">
                        </div>
                        <div class="field">
                            <div class="header" style="text-align: left;">Last Name</div>
                            <input placeholder="Doe" id="lastName" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <div class="header" style="text-align: left;">Occupation</div>
                            <div class="ui selection dropdown">
                                <input type="hidden" id="occupation">
                                <i class="dropdown icon"></i>
                                <div class="default text" style="font-weight: lighter;">Occupation</div>
                                <div class="menu">
                                    <div class="item" data-value="1">Paralegal</div>
                                    <div class="item" data-value="0">Lawyer</div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields"> 
                        <div class="field">
                            <div class="header" style="text-align: left;">Username</div>
                            <input placeholder="Username" id="username" type="text">
                        </div>
                        <div class="field">
                            <div class="header" style="text-align: left;">Password</div>
                            <input placeholder="********" type="password" id="password">
                        </div>
                    </div>
                    <button class="ui primary button" style="background-color:#e96989; margin-top: 10px;">Submit</button>
                    <div class="ui error message">
                        <p>Username is taken. Please choose another one.</p>
                    </div>
                </form>
            </div>
        </div>
    </body>
    <script>
        $(document).ready(function() {
            const signupform = document.querySelector('#signup_form');
            signupform.addEventListener("submit", function(e) {
                e.preventDefault();
                validInputs();
            });
            function validInputs() {
                var user_input = $('#username').val();
                var pass_input = $('#password').val();
                var fn = $('#firstName').val();
                var ln = $('#lastName').val();
                var occupation = $('#occupation').val();
                console.log("user: " + user_input  + " pass: " + pass_input + " fn and ln: " + fn + " " + ln + " and occupation is: " + occupation);
                $.ajax({
                    url:'/signup',
                    type:'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({"username": user_input, "password": pass_input, "first_name": fn, "last_name": ln, "occupation":occupation}),
                    dataType: 'json',
                    success: function(return_val) {
                        if(return_val == "True") {
                            window.location="/";
                        } else if(return_val == "False") {
                            document.getElementById("signup_form").className = "ui form error";
                            $$(signup_form).className = "ui form error";
                        } else {
                            alert("no returned value");
                        }
                    }
                })
            }
            $('.selection.dropdown').dropdown();
        });

        $('.ui.form')
            .form({
                fields: {
                first_name: {
                    identifier: 'firstName',
                    rules: [
                    {
                        type   : 'empty',
                        prompt : 'Please enter your first name'
                    }
                    ]
                },
                last_name: {
                    identifier: 'lastName',
                    rules: [
                    {
                        type   : 'empty',
                        prompt : 'Please enter your last name'
                    }
                    ]
                },
                occupation: {
                    identifier: 'occupation',
                    rules: [
                    {
                        type   : 'empty',
                        prompt : 'Please select an occupation'
                    }
                    ]
                },
                username: {
                    identifier: 'username',
                    rules: [
                    {
                        type   : 'empty',
                        prompt : 'Please enter a username'
                    }
                    ]
                },
                password: {
                    identifier: 'password',
                    errorLimit: 1,
                    rules: [
                    {
                        type   : 'empty',
                        prompt : 'Please enter a password'
                    },
                    {
                        type   : 'minLength[8]',
                        prompt : 'Your password must be at least {ruleValue} characters'
                    }
                    ]
                },
                }
            })
            ;
        
    </script>
</html>
